.btn{
	margin-left: 180px;
	margin-top: 30px;
	width: 100px;
	background-color: #049b7c;
	color: black;
}
.btn:hover{
	background-color: #ffffff;
}
.fieldset{
	border: 1px solid #f8ac00 !important;
	padding: 10px;       
	position: relative;
	border-radius:4px;
	background-color:#f8ac00;
	padding-left:10px!important;
	width: 900px;
	margin-left: 230px;
	margin-top: 100px;
}		
.legend{
	font-size:14px;
	font-weight:bold;
	margin-bottom: 0px; 
	width: 100px; 
	border: 1px solid #f8ac00;
	border-radius: 4px; 
	padding: 5px 5px 5px 10px; 
	background-color: #ffffff;

}
.word{
	color: black;
}	
